.featured-product {
    padding: 1rem;
    border: 5px solid;
}

.the-leaders {
    padding-top: 54.5%;
    background:url(../img/the-leaders.png) transparent no-repeat center;
    background-size: 80%;
}